body {
    background-color: lightgray;
    font-family: Arial;

}

div {
    width: 600px;
    
    margin: auto;
}

blockquote {
  margin: auto;
  margin-top: 5px;
  width: 600px;
  text-align: center;
  border: 1px solid white; 
}
